body {
    background-color: #e8e0ff;
    font-family: Arial, sans-serif;
  }
  h1,
  h2,
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  p {
    font-family: "Lora", serif;
  }
  .header {
    background-color: #fadadd;
    font-family: "Poppins", sans-serif;
  }
  .main-page {
    min-height: 200vh;
    background-color: #e6f7ff;
  }
  .breadcrumb {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffabc7;
    height: 50px;
  }
  .dropdown-toggle {
    margin-top: 12px;
  }
  .dropdown-toggle a {
    text-decoration: none;
  }
  .breadcrumb a {
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .dropdowns li a {
    font-size: 15px;
    font-weight: normal;
  }
  .sticky-filter {
    position: sticky;
    top: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .card-img-top{
    width: 200px;
  }
  .cart-item {
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
  }
  .cart-item:last-child {
    border-bottom: none;
  }

  .filter-section {
    max-width: 250px;
  }
  .product-list {
    flex-grow: 1;
  }
  .product-card {
    cursor: pointer;
  }

  footer,
  section {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  section a {
    text-decoration: none;
  }
  .heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .card {
    width: 21rem;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: all ease 0.5s;
  }
  .card:hover {
    background-color: #f3adc1;
  }
  .qb-btn {
    border: 2px solid black;
  }
  .qb-btn:hover {
    background-color: white;
  }