body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.profile-icon {
  font-size: 22px;
  cursor: pointer;
  color: black;
}
.dropdown-menu {
  min-width: 150px;
}
.error-message {
  color: red;
  display: none;
}

#authModal {
  background-color: rgba(128, 128, 128, 0.303);
  border: 2px solid;
  border-radius: 10px;
  color: white;
  width: 60%;
  height: 70%;
  left: 20rem;
  top: 5rem;
}

.marquee {
  width: 100vw;
  max-width: 100%;
  height: 25px;
  overflow-x: hidden;
  background-color: #ffabc7;
}

.track {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 25s linear infinite;
}
.content {
  word-spacing: 10px;
  font-weight: 600;
  width: 100%;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
h1,
h2,
h3 {
  font-weight: 700;
}

.main-page {
  min-height: 200vh;
}
.breadcrumb {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffabc7;
  height: 50px;
}
.dropdown-toggle {
  margin-top: 12px;
}
.dropdown-toggle a {
  text-decoration: none;
}
.breadcrumb a {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
}
.dropdowns li a {
  font-size: 15px;
  font-weight: normal;
}

footer,
section {
  background-color: #ffabc7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section a {
  text-decoration: none;
}

.story-container {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}
.story {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
}

.story:hover {
  scale: 1.1;
}
.story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story .play-text {
  position: absolute;
  left: -100%;
  width: 100%;
  top: 60px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: left 0.3s;
}

.story:hover .play-text {
  left: 0;
  top: 60px;
}

#shortModal {
  width: 40rem;
  margin-left: 25rem;
}
.modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

.modal-content {
  background-color: transparent;
  height: 100%;
  border: none;
  border-radius: 0;
}

.modal-body {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body iframe {
  width: 400px;
  height: 600px;
}

.close-button {
  position: absolute;
  scale: 1.5;
  top: 100px;
  right: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  border-radius: 500%;
  cursor: pointer;
}

.banner-sliders {
  position: relative;
  width: 100%;
  max-width: 100rem;
  margin: auto;
  overflow: hidden;
}

.slidess {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides {
  min-width: 100%;
  height: 80%;
}

.slides img {
  width: 100%;
  height: 550px;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
}

.radio-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.radio-buttons label {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .radios-buttons label[for="radio1"],
input[type="radio"]:checked + .radios-buttons label[for="radio2"],
input[type="radio"]:checked + .radios-buttons label[for="radio3"] {
  background-color: #333;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.item {
  min-width: calc(25%); /* 4 items per view with spacing */
  text-align: center;
  height: 23rem;
  transition: all ease 0.3s;
}

.item-img {
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.item-img img {
  transition: all ease 0.6s;
  width: 318px;
  height: 318px;
}

.item-img img:hover {
  scale: 1.2;
}

.card-title-div {
  border-radius: 0px 0px 10px 10px;
}

.card-title {
  cursor: pointer;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
}

.carousel-control-prev {
  left: 10px;
  font-size: 2rem;
}

.carousel-control-next {
  right: 10px;
  font-size: 2rem;
}

.card {
  cursor: pointer;
  width: 21rem;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.custom-slider-container {
  position: relative;
  width: 100%;
  height: 19rem;
  overflow: hidden;
  border-radius: 10px;
}

.custom-slider {
  display: flex;
  transition: transform 0.5s ease;
  padding: 10px;
}

.custom-slide {
  min-width: 32.6%;
  height: 18rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-slide-img {
  width: 100%;
  height: 65%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-slide-img img {
  width: 160px;
  height: 160px;
  border-radius: 100%;  
}

.custom-card-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.custom-card-text {
  font-size: 1em;
  margin-bottom: 2px;
}

.custom-rating {
  color: #ffcc00;
}

.custom-slider-control-prev,
.custom-slider-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.custom-slider-control-prev {
  left: 10px;
}

.custom-slider-control-next {
  right: 10px;
}
