body {
  font-family: "Poppins", sans-serif;
}

body.dark-mode {
  background-color: rgb(60, 60, 60);

  .cake-card {
    border: 1px solid white;
    color: white;
  }
  .order-summary {
    background-color: rgb(60, 60, 60);
    border: 1px solid white;
    color: white;
  }
  #page-title {
    color: white;
  }
  .empty-cart-image{
    mix-blend-mode:color-dodge;
    border-radius: 20px;
  }
  .empty-msg{
    color: white;
  }
}

.toggle-switch {
  top: 20px;
  right: 20px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch label {
  display: block;
  width: 50px;
  height: 25px;
  background-color: gray;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

.toggle-switch label .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-switch label .sun {
  left: 5px;
  color: #f7df06;
  opacity: 1;
  transition: opacity 0.3s;
}

.toggle-switch label .moon {
  right: 5px;
  color: #ffff;
  opacity: 0;
  transition: opacity 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + label .sun {
  opacity: 0;
}

.toggle-switch input[type="checkbox"]:checked + label .moon {
  opacity: 1;
}
.main-page {
  min-height: 100vh;
}
.breadcrumb {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffabc7;
  color: black;
}
.breadcrumb a {
  color: black;
}
.empty-message {
  text-align: center;
  font-size: 18px;
  display: none;
}
.empty-cart-image {
  width: 30rem;
  mix-blend-mode: multiply;
}
footer,
section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffabc7;
}
section a {
  text-decoration: none;
}
.cake-img {
  width: 150px;
  border-radius: 10px 0px 0px 10px;
}
.cake-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.order-summary {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
